$headerBackgroundColor: #00b7ff;
$headerBrandColor: #FFF;

.content {
  background-color: $headerBackgroundColor;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.brand {
  color: $headerBrandColor;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  color: #00b7ff;
  border-radius: 10px;
  border: 1px solid #FFF;
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search:focus {
  width: 260px
}
