.bodyWithOpenModal {
  overflow: hidden;
}
.content {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}

.newsContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 480px;
  margin: 0 auto;
}

.newsItem {
  flex: 1;
}

.textItem {
  flex: 0.75;
  color: #FFF;
  padding: 8px;
}

.icons {
  flex-direction: column;
}
